

  .main{
    height: auto;
    margin:auto;
    
  }
  .heading-div{
    width: 70%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .save-div{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border:1px solid white;
    margin-top: 10px;

  }
  .save-div-que{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border:1px solid white;
    margin-left:10px;
    margin-top: 10px;
  }
  .heading{
    text-align: center;
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    font-family: serif;
  }

  .maincontainer{
    width: 70%;
    height: 76%;
    margin: auto;
    /* border: 1px solid red; */
  }
  .layout {
    /* border: 2px solid white; */
    height: 76vh;
    padding:5px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .layout::-webkit-scrollbar {
    width: 8px;
  }
  .layout::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .layout::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .inputbox{
    background-color:rgb(63, 63, 112);
    width: 70%;
    height: 60px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    
  }

  .input-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inputbox-input-div{
    width: 900px;
    margin: auto;
    padding-left: 10px; 
    padding-right: 800px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 10px;
    border: 0;
    background-color:transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    outline: 0;
    
    
  }
 
  .inputbox-input-button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border:1px solid white;

  }
  .micro{
    cursor: pointer;
  }

  .postImage{
    display: flex;
    align-items: center;
    gap:20px;
  }

  .postImage-img{
    border-radius: 50%;
    background: blueviolet;

  }